QPushButton {
    background-color: rgb(91, 94, 97);
    border: 1px solid rgba(0, 0, 0, 0.233);
    border-radius: 2px;
    color: rgb(255, 255, 255);
    padding: 7px;
    font-size: 15px;
    font-weight: bold;
  }
  
  QPushButton:disabled {
    background-color: rgb(182, 182, 182);
    color: rgb(68, 68, 68);
  }
  
  QPushButton:hover {
    background-color: rgb(65, 67, 70);
  }

  QPushButton:pressed {
    background-color: rgb(30, 31, 32);
  }

  QLineEdit {
        background-color:rgb(255, 255, 255);
        border: 1px solid rgb(109, 109, 109);
        border-radius: 2px;
        padding: 7px;
        font-size: 15px;
  }

  QLineEdit:focus{ 
    background-color:rgb(255, 255, 255);
}

QLineEdit:empty{ 
  background-color:rgb(255, 217, 217);
  border: 3px solid rgb(255, 55, 55);
}

QTreeView {
  alternate-background-color: rgba(235, 235, 235, 0.712);
  color: rgb(0, 0, 0);
}

QTreeView::item:selected:active{
  background-color: rgba(53, 53, 53, 0.555);
}

QTreeView::item::hover{
  background-color: rgba(179, 179, 179, 0.555);
}

QLabel{
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-weight: bold;
}

QDialog{
  background-image: url('./Resources/app_bg_black.jpg');
}

QMainWindow{
  background-image: url('./Resources/app_bg_black.jpg');
}

QWizard{
  background-image: url('./Resources/app_bg_black.jpg');
}